*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: 'Rajdhani', sans-serif;
    color: #d8d8d8;
    line-height: 1.2rem;
    background-color: #141318;
    background-image: url(./images/dramatic_skyline.gif), url(./images/dramatic_clouds.gif);
    background-repeat: no-repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-size: cover;
    background-position: right  200px, top;
    margin: 0px;
    height: 100%;
}
button{
    border-style: none;
    background-color: #ffffff00;
    color: #ffffff;
}
a
{
    color: #ffffff7e;
    text-decoration: none;
    transition: 0.2s;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}
ul li{
    list-style-type: none;
}
li{
    margin-top: 10px;
}
strong{
    font-weight: 600;
}
.row{
    margin: 0px auto;
}
h2{
    font-size: 1.3em;
}
h3{
    font-size: 1.3em;
}
/**/
@media (max-width: 600px){
section{
    padding: 40px 50px;
}}
@media (min-width: 600px){
section{
    padding: 40px 100px;
}}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
    background-image: url(./images/travaux.png);
    background-repeat: repeat-x;
}
#title img{
    height: 20px;
    width: 20px;
    display: inline;
}
header > div > img{
    z-index: -100;
    user-select: none;
}
header div > p{
    font-size: 1.2em;
    font-weight: 500;
}
.scrollDown{
    position: absolute;
    bottom: 0;
}
.scrollDown img{
    height: 2em;
    width: 2em;
    user-select: none;
}
#page{
    background-color: #000000;
    z-index: 10;
}
.resume{
    font-size: 1.1rem;
    text-align: center;
    background-color: #ffffff25;
    padding: 30px 10px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    user-select: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 0rem;
    padding: .3rem .75rem;
    font-size: 1.2rem;
    opacity: 50%;
    transition: 0.2s;
}
.btn:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
    opacity: 100%;
    background-color: #1d1d1d;
    transition: 0.2s;
}
.contact:active{
    text-shadow: 1px 1px 1px #ffffff;
    transition: 0.2s;
}
.contact:hover a{
    color: #ffffff;
    font-weight: 500;
    text-shadow: 1px 1px 1px #ffffff;
}
/**/
#skills li{
    margin: 0px;
}
#uidesign{
    height: 25em;
    background-image: url(./images/webdesign/BM_banner.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#modeling3d{
    height: 25em;
    background-image: url(./images/3dmodeling/lamenike_banner.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#illustration{
    height: 25em;
    background-image: url(./images/illustration/space_cadet_banner.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    text-align: center;
    height: 200px;
}